/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
} */

body{
    background-color: rgb(247, 242, 242);
    color :#faa1a1 ;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: 1.5px;
    word-spacing: 2px;
    transition: background 0.1s linear;
}
.checkbox{
    opacity: 0%;
    position: absolute;
}
.label{
    background-color:white;
    display: flex;
    border-radius: 20px;
    position: center;
    height: 30px;
    margin-left: 6em;
    width: 70px;
}
.ball{
    background-color: #faa1a1;
    border-radius: 50%;
    position: relative;
    top: 3px;
    left: 11px;
    height: 25px;
    width: 25px;
    transition: transform 0.2s linear;
} 

.checkbox:checked + .label .ball{
    transform: translateX(24px);
    background-color:#86e9e4 ;
}

h2.title{
    color : white ;
    font-family: 'Boogaloo', cursive;
    /* font-family: 'Playfair Display', serif; */
    letter-spacing: 4px;
    word-spacing: 2px;
    font-size: 1.7rem;
    background-color: #ffb6b6;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.blueMode{
    background-color:#beebe9;
    color:#539e9a;
}

.blueMode .sidebar{
    background-color:#81e0dc;
    color: #ffffff;
}

.blueMode .title{
    /* background-color: #8ad7c1; */
    background-color:#81e0dc;
    color: #ffffff;
}

.blueMode a:hover{
    background-color: white;
}


div.sidebar{
    background-color: #ffb6b6;
    height: 100%;
    position: fixed;
    padding-top: 20px;
    color: white;
    text-align: center;
    margin-left: 15%;
    font-size: 1.2rem;
    font-weight: 100;
    letter-spacing: 0;
}
a:hover{
    background-color: rgb(253, 223, 223);
}

@media screen and (max-width : 900px)
{
    div.sidebar{
        font-size: 0.9rem;
    }
    body{
        font-size: 1rem;
    }
    .label{
        height: 35px;
        margin-left: 2.5em;
        width: 70px;
    }
}
@media screen and (max-width : 900px)
{
    img{
        /* text-align: center; */
        align-content: center;
        display: block;
        width : 90%;
        height : 100%;
    }
} 